//jk custom scss


//basic stuff
body{
}

a{
	transition:all .3s ease-out;
}


//layout stuff
.content-area{
	margin:20% 0;
}

//headings
.fancy {
  font-family: "lust-script";
}

.hero h2{
	text-align:center;
	margin:4% auto;
	font-size:80px;
}

h3{
	margin: 2% auto;
 	text-align: center;
 	font-size: 40px;
}

h4{
	margin: 2% auto;
 	text-align: center;
 	font-size: 40px;
}

.item h5{
	text-align:center;
	font-weight:200;
}

footer h6{
	color:#efefef;
	font-weight:200;
	text-transform:uppercase;
}

//custom text styles
.thintext{
	font-weight:200;
}


//nav stuff

.top-bar{
	// background: rgba(44, 43, 50, 0.9);
}





.top-bar-section li:not(.has-form) a:not(.button){
	background:none;
}
.top-bar-section ul li{
	background:none;
}
.top-bar-section ul li a.soc-link{
	line-height: 2.8rem !important;
	// padding:0 !important;
	margin:0 !important;
	font-size:24px;
}


//hero stuff
.hero-intro{
	margin-top:40px;
}


//masonry & layout
.masonry{
	margin:10px auto;
}
.masonry .item {
	width:240px;
	// height:200px;
 	// float: left;
 	// display:block;
 	min-height:194px;
 	margin: 20px;
 	// background: #fff;
 	border: 1px solid #efefef;
 	padding:10px;
 	// border-color: hsla(0, 0%, 0%, 0.5);
 	// border-radius: 4px;
}

.item{
	transition:all .2s ease-out;
	.thumb{
		width:220px;
		height:150px;
		display:block;
		background-size: 220%;
		background-repeat: no-repeat;
		background-position: 26% 40%;
		transition:all .3s ease-out;
	}
}
.item:hover{
	transform: scale(1.2);
	border-color:$gray-med;
	.thumb{
		background-size: 140%;
		// background-position: 26% 10%;
	}
}

.looking{
	margin-top:8%;
}

.slick-slide
	img{
		width:100%;

}




//CTAs
a.btn.ghost{
	border:1px solid $gray-dark;
	padding:20px;
	margin:10px 0;
	display:block;
	text-align:center;
	text-transform:uppercase;
	// font-weight:200;
	font-size:20px;
	
}
a.btn.ghost:hover{
	transform: scale(1.1);
	// background: #efefef;
	// font-weight:500;
	// font-size:22px;
	// border:2px solid #000;
	
    // opacity: 0.0
    -webkit-animation: 
		grow .3s cubic-bezier(0.855, 0.120, 0.340, 0.850) 1,
		pulse 4s ease-out infinite alternate-reverse;
}

@-webkit-keyframes grow {
    0%{transform: scale(1.0);}
    100% {transform: scale(1.1);}
}


@-webkit-keyframes pulse {
    0%{background: #fff;}
    50% {background: $light-blue-op90;}
    100%{background: $light-green-op90;}
    
}












//modal
.modal-folio-content{
	h2{
		font-size:3rem;
		font-weight:200;
		width:100%;
		border-bottom:1px solid $gray-med-med;
		margin-bottom: 2rem;
	}
	dt{
		width:100%;
		border-bottom:1px solid $gray-light;
		
	}
	dt:not:first-child{
		margin-top:1rem;
	}
}

.folio-slider{
	list-style: none !important;
	img{
		padding:10px;
		border:1px solid $gray-light;
	}
	.caption{
		// text-transform:uppercase;
		font-size:.7rem;
		// font-weight:200;
		color:$gray-med;
	}
}

.skills li{
	
}






//forms
::-webkit-input-placeholder {
   color: $gray-dark;
}
:-moz-placeholder { /* Firefox 18- */
   color: $gray-dark;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $gray-dark;  
}
:-ms-input-placeholder {  
   color: $gray-dark;  
}


//footer
footer{
	font-weight:200;
	padding-top:20px;
	color:#efefef;
	background:$gray-dark;
	p{
		font-weight:200;
	}

	ul{
		margin:0;
	}
	ul li{
		list-style-type: none;
	}

	a{
		color:$highlight-turq;
	}
	a:hover{
		color:$highlight-blue;
	}
}